[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"
sqlalchemy = "*"
psycopg2 = "*"
numpy = "*"
streamlit = "*"
streamlit-aggrid = "*"
plotly = "*"
streamlit-plotly-events = "*"
matplotlib = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
